<html></html>
	<body>
		<%- include('./include/header') %>
		<div><%- t('template.resetPwd', { account: account }) %></div>
		<p>
			<a href="<%- resetLink %>" target="_blank">
				<%- t('template.reset') %>
			</a>
		</p>
		<%- include('./include/footer') %>
	</body>
</html>